@import "tailwindcss";

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #333;
}

*::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
    border: 2px solid #333;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}